# Standard Python configuration for Agent Platform projects
# Rules are defined to be "Good enough for 90% of projects"

line-length = 100
target-version = "py310"

[lint]
select = [
    "E",   # pycodestyle errors
    "W",   # pycodestyle warnings
    "F",   # pyflakes
    "C90", # mccabe complexity
    "B",   # bugbear
    "UP",  # pyupgrade
    "I",   # isort
]
ignore = []

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
